body{
    background: url("../assets/portal.jpg");
}

h1, h2 {
    text-align: center;
}

#tech {
    padding: 0;
    display: flex;
    flex-wrap: wrap;

}

#tech li {
    list-style: none;
    position: relative;
    background: white;
    border: 3px solid gray;
    height: 200px;
    width: 150px;
    text-align: center;
}

#tech li img {
    width: 80%;
    margin-top: 10px;
}